{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "airbnb-typescript"
    // "eslint:recommended",
    // "plugin:react/recommended",
    // "plugin:@typescript-eslint/recommended",
  ],
  "settings": {
    "react": {
      "version": "19.0"
    }
  },
  "plugins": [
    "import",
    "react",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    },
    "project": true
  },
  "rules": {
    "indent": [
      "warn",
      2
    ],
    "linebreak-style": "off",
    "object-curly-newline": [
      "warn",
      {
        "minProperties": 5,
        "consistent": true
        // "ObjectExpression": "always",
        // "ObjectPattern": {
        //   "minProperties": 5,
        //   "multiline": true
        // },
        // "ImportDeclaration": {
        //   "multiline": true,
        //   "minProperties": 5
        // },
        // "ExportDeclaration": {
        //   "multiline": true,
        //   "minProperties": 5
        // }
      }
    ],
    "object-curly-spacing": "warn",
    "comma-dangle": [
      "error",
      "never"
    ],
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "react/display-name": "warn",
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "no-multi-spaces": "warn",
    "react/jsx-space-before-closing": "warn",
    "react/function-component-definition": "off",
    "react/require-default-props": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}