{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": [
    "**/out/**",
    "**/build/**",
    "**/config/**",
    "**/dist/**",
    "**/doc/**",
    "**/node_modules/**",
    "**/public/**",
    "**/webpack.config.js",
    "**/rollup.config.js",
    "**/@nino-work/infra/**",
    "**/infra.config.js"
  ],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    // "eslint:recommended",
    // "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    // "plugin:@stylistic/eslint-plugin-ts"
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "18.0"
    }
  },
  "plugins": [
    "import",
    "import-newlines",
    "react",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    },
    "project": true
  },
  "rules": {
    "indent": "off",
    "linebreak-style": "off",
    "import-newlines/enforce": [
      "error",
      {
        "items": 40,
        "max-len": 120
      }
    ],
    "object-curly-newline": [
      "warn",
      {
        "ObjectExpression": {
          "multiline": true,
          "minProperties": 5
        },
        "ObjectPattern": {
          "multiline": true
        },
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 5
        }
      }
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "react/jsx-props-no-spreading": "off",
    "react/display-name": "warn",
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "no-multi-spaces": "warn",
    "react/state-in-constructor": "off",
    "react/static-property-placement": "off",
    "react/function-component-definition": "off",
    "react/require-default-props": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "max-classes-per-file": "off",
    "max-len": [
      "warn",
      {
        "ignoreComments": true,
        "code": 200,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "react/destructuring-assignment": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "import/prefer-default-export": "off",
    "no-restricted-exports": "off",
    "@typescript-eslint/indent": "off",
    "react/sort-comp": "off",
    "no-continue": "off"
  }
}