.canvas-message-wrapper {
  &:global(.SnackbarItem-contentRoot.SnackbarContent-root) {
    padding: 0;
    :global {
      .SnackbarItem-message {
        padding: 0;
        width: 100%;
      }
    }
  }
}

.canvas-message-content {
  font-size: var(--canvas-font-base-size);
  padding: 6px 16px;
  width: 100%;
  :global {
    & div {
      min-height: 24px;
      & .canvas-message-icon {
        margin-right: 8px;
        &.--loading {
          width: 16px !important;
          height: 16px !important;
        }
        &.--error {
          color: var(--canvas-error-color);
        }
        &.--success {
          color: var(--canvas-success-color);
        }
        &.--info {
          color: var(--canvas-info-color);
        }
        &.--warning {
          color: var(--canvas-warning-color);
        }
      }
    }
  }
}
