// Confirm Modal
.canvix-modal-confirm {
  :global {
    .confirm-content {
      width: 350px;
      max-width: 350px;
      text-align: center;
      .confirm-icon {
        font-size: 65px;
        margin: 30px 0 20px 0;
        &.--error,
        &.--confirm {
          color: var(--canvix-modal-error-color);
        }
        &.--warning {
          color: var(--canvix-modal-warning-color);
        }
        &.--info {
          color: var(--canvix-modal-info-color);
        }
        &.--success {
          color: var(--canvix-modal-success-color);
        }
      }
      .confirm-text-wp {
        font-size: 12px;
      }
    }
    .canvix-modal-footer {
      padding: 14px 18px;
    }
  }
}

.canvix-modal {
  :global {
    .close-btn {
      position: absolute;
      top: 8px;
      right: 8px;
    }
    .canvix-modal-title {
      color: rgb(188, 201, 212);
      // color: var(--canvix-modal-font-color);
    }
    .canvix-modal-content {
      .canvix-modal-footer {
        padding: 20px 0 0 0;
      }
    }
  }
}
