.bezier-edge {
  transition: stroke-width 0.2s linear;
}

.bezier-connecting-edge {
  transition: stroke-width 0.2s linear;
  &:global(.allow) {
    stroke: var(--canvix-primary-color);
  }

  &:global(.notAllow) {
    stroke: var(--canvix-error-color);
  }
}
